html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
  background: #222222;
}

body {
  margin: 0;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 125%;
  color: #FFFFFF;
}

* {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  line-height: 1.5;
  font-weight: 300;
}

a {
  color: #FFFFFF;
  transition: all 0.5s ease;
}

a:hover {
  color: #2CB5E8;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 { 
  display: block;
  color: #FFFFFF;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -2px;
}

.main {
  padding: 100px;
  max-width: 440px;
  margin: 0 auto;
}

.name {
  margin-bottom: 20px;
}

.block {
  background-color: #FFFFFF;
  width: 140px;
  height: 4px;
  margin: 24px 0 5px;
}

.title {
  font-size: 16px;
  color: #2CB5E8;
  font-weight: 700;
  line-height: 125%;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .main {
    padding: 60px 40px;
  }
}
